# Default ignored files
/../../appserver/.idea/shelf/
/../../appserver/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../appserver/.idea/httpRequests/
# Datasource local storage ignored files
/../../appserver/.idea/dataSources/
/../../appserver/.idea/dataSources.local.xml

